<div class="container">
<h5>{{myheading}}</h5>
<input type="text" [(ngModel)]="inpvalue" (blur)="filter()"/><br/>
<h5>{{inpvalue}}</h5>
<button class="btn btn-primary" 
[disabled]="enablebutton"
(click)="displayItems()">Display</button>
<p>{{desc}}</p>
<p [innerHTML]="desc"></p>
<div class="row" *ngIf="isdisplay">
    <div class="col-md-4" *ngFor="let a of productArray" [ngSwitch]="a.availability">
      <div class="card" style="width: 18rem" [style.display]="mystyle">
        <div class="card-body">
          <h5 class="card-title">{{a.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{a.tag}}</h6>
          <h6 class="text-light bg-danger" *ngSwitchCase="'no'">Not available</h6>
          <h6 class="text-light bg-success" *ngSwitchCase="'yes'">available</h6>
         <h5 [ngClass]=" {'text-danger':a.stock===0, 'text-success':a.stock>0 }  ">{{a.stock}}</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <button class="btn btn-primary" (click)="incrementCheckout()">add to cart</button>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="text-danger" *ngIf="!isdisplay;else welcome">please click display button</h2>
<ng-template #welcome>
  <h2>Welcome</h2>
  <p>this........ is my ng template</p>
</ng-template>
<div class="container">
  <app-checkout  [cartcount]="homecount"></app-checkout> 
</div>