<div class="container">
    <div class="row">
        <div class="offset-4 col-md-4">
            <form [formGroup]="signupform" (submit)="postvalue()">
                <h3>Add a new Card</h3>
                <div class="form-group">
                  <label>ProductName:</label>
                  <input type="text-danger" class="form-control" formControlName="name"/>

                </div>
    
                <div class="text-danger" *ngIf="signupform.controls.name.errors && signupform.controls.name.touched">
                    <p *ngIf="signupform.controls.name.errors.required">The field is required</p>
                    <P *ngIf="signupform.controls.name.errors.minlength"> The product name should be of five characters</P>
                </div>
                
                <div class="form-group">
                    <label>Stocks:</label>
                    <input type="number" class="form-control" formControlName="stocks"/>
  
                  </div>
  <p class="text-danger" *ngIf="signupform.controls.stocks.errors  && signupform.controls.stocks.touched">This field is required</p>
                  <div class="form-group">
                    <label>Tagname:</label>
                    <input type="text" class="form-control" formControlName="tag"/>
  
                  </div>
                  <p class="text-danger" *ngIf="signupform.controls.tag.errors  && signupform.controls.tag.touched">This field is required</p>
                <br/>
                  <button class="btn btn-warning" [disabled]="signupform.invalid">Add</button>
            </form>
        </div>
    </div>
</div>